@font-face {
    font-family: 'garet';
    src: url('./Garet-Book.woff') format('woff')
}  

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    font-family: garet;
    font-size: 120%;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
}

a {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
}

a:hover {
    color: blue;
    text-decoration-color: blue;
}
